*{
    margin: 0px;
    padding: 0px;
}

.nav{
    folat: left;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: coral;
    position: fixed;
}
.nav a{
    text-decoration: none;
    color: antiquewhite;
}
.nav a:hover{
    color: aquamarine;
}
.nav span{
    color: aliceblue;
}
.container{
    border: solid red 5px;
}
