*{
    margin: 0px;
    padding: 0px;
}
.body{
    width: 60%;
    height: 1000px;
    margin: 50px auto;
}
.profile_head{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.content{
    padding: 20px 10px;
}
